li {
    text-align: justify;
    text-justify: inter-word;
    list-style-type: upper-roman;
    padding-top: 25px;
    font-size: 150%;
}

h3, h1.title{
    text-align: center;

}
.textlink1{
    text-align: right;
    font-weight: 600;
    font-size: 120%;
}

.textlink2{
    color: crimson;
}